 .site-content {
    width: 100%
} 

.woocommerce #content table.cart td.actions .input-text,
.woocommerce table.cart td.actions .input-text,
.woocommerce-page #content table.cart td.actions .input-text,
.woocommerce-page table.cart td.actions .input-text {
    width: 100%
}

.woocommerce-cart .woocommerce #respond input#submit.alt,
.woocommerce-cart .woocommerce a.button.alt,
.woocommerce-cart .woocommerce button.button.alt,
.woocommerce-cart .woocommerce input.button.alt {
    background-color: #EA882D !important;
}

.woocommerce div.product div.images.woocommerce-product-gallery {
    opacity: 100 !important
}

a.added_to_cart {
    padding-top: .5em;
    display: none !important
}

#cart-message {
    background: #000;
    padding: 10px;
    top: 23px;
    position: relative;
    width: 151px;
    text-align: center;
    color: white
}

.carousel-item img{ filter:brightness(80%); object-fit: cover!important;   height: 600px!important;}

@media (max-width: 767px){
	.carousel-item img{    height: 400px!important;}
}

@media (max-width: 450px){
	.carousel-item img{     height: 250px!important;}
}

#video {
  max-height: 600px !important;
    width: 100%;
    object-fit: fill;
}

.bgvideo{  width: 160vw;  height: 600px;  position: relative; top: 50%;  left: 50%;  transform: translate(-50%,-50%);}
.bgvideo > video {  width: 100%;}
#homevideo{	display: block; position: absolute;  left: 50%; top: 50%;  transform: translate(-50%, -50%); filter:brightness(80%); }



@media only screen and (max-width: 767px) {
    .bgvideo{  height: 400px !important; }
    .div-video{ height: 250px; }
}
.sc-7dvmpp-1{
    display:none !important;
}