$branco: #fbfbfb;
$cinza-claro: #d8d8d8;
$laranja: #EA882D;
$preto-claro: #363636; //imports bootstrap
//comentados os features que n estão sendo usados



.site-content{
    width: 100%;
}
.woocommerce #content table.cart td.actions .input-text, .woocommerce table.cart td.actions .input-text, .woocommerce-page #content table.cart td.actions .input-text, .woocommerce-page table.cart td.actions .input-text {
    width: 100%;
}

.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
    background-color: $laranja !important;
}

.woocommerce div.product div.images.woocommerce-product-gallery{
    opacity:100!important;
}

a.added_to_cart {
    padding-top: .5em;
    display: none !important;
    //
}

#swiper-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
  
}

.beirinha-cart-add .yith-wcwl-add-to-wishlist span,
.beirinha-cart-add .yith-wcwl-add-to-wishlist i{
  display: none !important;
}
.beirinha-cart-add .yith-wcwl-add-to-wishlist .add_to_wishlist{
    display: inline-block !important;
    background: url(../img/icons/coracao-fundo.svg) !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    width: 40px !important;
    height: 40px !important;
    position: absolute !important;
    cursor: pointer !important;
    bottom: 15px !important;
    right: 20px !important;
    transition: 0.3s !important;
    box-shadow: 0px 2px 2px rgba(100, 100, 100, 0.15) !important;

    border-radius: 50% !important;
    &:hover {
      transform: scale(1.1) !important;
    }
  }
  .yith-wcwl-wishlistaddedbrowse,
  .yith-wcwl-wishlistexistsbrowse{
    display: inline-block !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    width: 100px !important;
    height: 40px !important;
    position: absolute !important;
    bottom: 5px !important;
    right: 20px !important;
    text-align: right !important;
    transition: 0.3s !important;
    a {
      color: $laranja !important;
      font-size: 10px !important;
    }
    &:hover {
      color: $laranja !important;
    }
  }
